header {
  background-color: red;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.porcentaje {
  font-size: 5vh;
}

#visualizaciones{
  align-items: center;
  justify-content: center;
}

header img {
  width: 15vw;
  max-width: 125px;
  height: auto;
  left: 15px;
  top: 0;
}

#aumento-mensual {
  font-size: 10vh;
}

header h1 {
  margin: 0;
  text-align: center;
}

body{
  margin-top: 200px;

}

button {
  margin: 10px; 
  padding: 15px 30px; 
  font-size: 18px; 
  border: none;
  background-color: #fd0000; 
  color: #fff; 
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #862525; 
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header img {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row; 
    justify-content: center; 
  }
}