header {
  background-color: red;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

header img {
  width: 15vw;
  max-width: 125px;
  height: auto;
  position: absolute;
  left: 15px;
  top: 0;
}

header h1 {
  margin: 0;
  text-align: center;
}

body{
  margin-top: 200px;

}
.custom-file-upload {
  margin-top: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #e0e0e0;
}

#file-upload {
  width: 50%; 
  margin: auto; 
  border: 2px solid #000000; 
  padding: 30px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-upload-heading {
  font-size: 24px;
}

section {
  text-align: center; 
}

section button {
  margin: 10px; 
  padding: 15px 30px; 
  font-size: 18px; 
  border: none;
  background-color: #fd0000; 
  color: #fff; 
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

section button:hover {
  background-color: #862525; 
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header img {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row; 
    justify-content: center; 
  }
}